<div class="container">
    <div class="flex-row">
        <div class="list-overview top-spacing">
            <app-planner-overview-item
                    (click)="goToMealPlan(mealplan)"
                    *ngFor="let mealplan of mealPlans" [mealPlan]="mealplan"
                    class="list-item clickable"
            ></app-planner-overview-item>
        </div>
    </div>
</div>
<eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger>
        <button color="primary" mat-fab>
            <mat-icon>menu</mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
        <button (click)="createPlan()" color="primary" mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
