<mat-toolbar class="main-navigation">
    <div class="sidebar-toggle border-right menu-item">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="main">
        <img src="assets/theme/logo.png" class="logo" alt="">
    </div>
    <div class="right push">
        <!--<mat-form-field appearance="outline" class="search rounded-border">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Outline form field</mat-label>
            <input type="search" matInput placeholder="Zoek ...">
        </mat-form-field>-->
    </div>
</mat-toolbar>
<div class="container--fluid container--top-spacing">
    <div class="grid grid--gutter">
        <div class="grid__item grid__item--gutter">
            <mat-card>
                <button mat-icon-button class="corner-button">
                    <mat-icon>reply</mat-icon>
                </button>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h3>
                        Kip in zoetzuur
                    </h3>
                    <p>
                        Heellijk gelechtje met ananas en stuff
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <span class="icon-wrapper space-right">
                        <mat-icon>group</mat-icon>
                        <span class="suffix">2</span>
                    </span>
                    <span class="icon-wrapper">
                        <mat-icon>timer</mat-icon>
                        <span class="suffix">45</span>
                    </span>
                    <div class="icon-wrapper push menu-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>pensil</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="grid__item grid__item--gutter">
            <mat-card>
                <button mat-icon-button class="corner-button">
                    <mat-icon>launch</mat-icon>
                </button>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h3>
                        Kip in zoetzuur
                    </h3>
                    <p>
                        Heellijk gelechtje met ananas en stuff
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <span class="icon-wrapper space-right">
                        <mat-icon>group</mat-icon>
                        <span class="suffix">2</span>
                    </span>
                    <span class="icon-wrapper">
                        <mat-icon>timer</mat-icon>
                        <span class="suffix">45</span>
                    </span>
                    <div class="icon-wrapper push menu-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>pensil</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="grid__item grid__item--gutter">
            <mat-card>
                <button mat-icon-button class="corner-button">
                    <mat-icon>launch</mat-icon>
                </button>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h3>
                        Kip in zoetzuur
                    </h3>
                    <p>
                        Heellijk gelechtje met ananas en stuff
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <span class="icon-wrapper space-right">
                        <mat-icon>group</mat-icon>
                        <span class="suffix">2</span>
                    </span>
                    <span class="icon-wrapper">
                        <mat-icon>timer</mat-icon>
                        <span class="suffix">45</span>
                    </span>
                    <div class="icon-wrapper push menu-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>pensil</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="grid__item grid__item--gutter">
            <mat-card>
                <button mat-icon-button class="corner-button">
                    <mat-icon>launch</mat-icon>
                </button>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h3>
                        Kip in zoetzuur
                    </h3>
                    <p>
                        Heellijk gelechtje met ananas en stuff
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <span class="icon-wrapper space-right">
                        <mat-icon>group</mat-icon>
                        <span class="suffix">2</span>
                    </span>
                    <span class="icon-wrapper">
                        <mat-icon>timer</mat-icon>
                        <span class="suffix">45</span>
                    </span>
                    <div class="icon-wrapper push menu-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>pensil</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="grid__item grid__item--gutter">
            <mat-card>
                <button mat-icon-button class="corner-button">
                    <mat-icon>launch</mat-icon>
                </button>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h3>
                        Kip in zoetzuur
                    </h3>
                    <p>
                        Heellijk gelechtje met ananas en stuff
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <span class="icon-wrapper space-right">
                        <mat-icon>group</mat-icon>
                        <span class="suffix">2</span>
                    </span>
                    <span class="icon-wrapper">
                        <mat-icon>timer</mat-icon>
                        <span class="suffix">45</span>
                    </span>
                    <div class="icon-wrapper push menu-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>pensil</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="grid__item grid__item--gutter">
            <mat-card>
                <button mat-icon-button class="corner-button">
                    <mat-icon>launch</mat-icon>
                </button>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <h3>
                        Kip in zoetzuur
                    </h3>
                    <p>
                        Heellijk gelechtje met ananas en stuff
                    </p>
                </mat-card-content>
                <mat-card-footer>
                    <span class="icon-wrapper space-right">
                        <mat-icon>group</mat-icon>
                        <span class="suffix">2</span>
                    </span>
                    <span class="icon-wrapper">
                        <mat-icon>timer</mat-icon>
                        <span class="suffix">45</span>
                    </span>
                    <div class="icon-wrapper push menu-actions">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>delete</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>pensil</span>
                            </button>
                        </mat-menu>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
