<div *ngIf="mealPlan" class="recipe-detail container">
    <div class="head flex-row">
        <div class="name">
            <h1>
                {{ mealPlan.name }}
            </h1>
        </div>
        <div class="description">
        </div>
    </div>
    <div class="list-overview flex-row top-spacing">
        <app-overview-item
                (click)="goToRecipe(recipe)"
                *ngFor="let recipe of mealPlan.recipes" [recipe]="recipe"
                class="list-item clickable"
        ></app-overview-item>
    </div>
</div>
<eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger>
        <button color="primary" mat-fab>
            <mat-icon>menu</mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
        <button (click)="deletePlan()" color="warn" mat-mini-fab>
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="editPlan()" color="primary" mat-mini-fab>
            <mat-icon>edit</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
