<mat-toolbar>
    <button (click)="goToOverview()" mat-button>Overview</button>
    <span class="spacer"></span>
    <button (click)="goToShoppingList()" *ngIf="selectedMealPlan" mat-button>Boodschappenlijstje</button>
    <button [matMenuTriggerFor]="menu" mat-button>{{ mode }}</button>
    <mat-menu #menu="matMenu">
        <button (click)="setMode(stateEnum.RECIPES)" mat-menu-item>Recepten</button>
        <button (click)="setMode(stateEnum.MEALPLANS)" mat-menu-item>Planner</button>
    </mat-menu>
    <button [matMenuTriggerFor]="optionsMenu" aria-label="" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu">
        <button (click)="setMode(stateEnum.MANAGE_UNITS)" mat-menu-item>
            <span>Manage units</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet *ngIf="isLoaded"></router-outlet>
