@import "palette";

body {
  padding: 100px 0 0;
  margin: 0;
  background-color: $color-light-grey;
}

mat-form-field {
}

.rounded-border {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;

  .suffix {
    margin-left: 5px;
  }
}


.push {
  margin-left: auto;
}
