@import "palette";

$border-width: 2px;
$border-style: solid;
$border-color: $color-accent-grey;

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

body {
  padding: 100px 0 0;
  margin: 0;
  background-color: $color-light-grey;
  color: $color-text;
  font-family: 'Roboto';
}

mat-form-field {
}

.rounded-border {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;

  .suffix {
    margin-left: 5px;
  }
}

.push {
  margin-left: auto;
}

.border {
  &-top {
    @include border('top', $border-width, $border-style, $border-color);
  }

  &-bottom {
    @include border('bottom', $border-width, $border-style, $border-color);
  }
}

.full-width {
  width: 100%;
}
