$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;
$grid__gutter: 12.5;

$map-grid-props: (
        '': 0,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl
);

@mixin create-mq($breakpoint, $min-or-max) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (#{$min-or-max}-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint, 'min') {
    &__col#{$modifier}-offset-0 {
      margin-left: 0;
    }
    @for $i from 1 through $grid-cols {
      &__col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i) ) * 1%;
      }
      &__col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
      &__col#{$modifier}-#{$i}--gutter {
        //flex-basis: (100 / ($grid-cols / $i) ) * 1%;
        flex-basis: calc((100 / (#{$grid-cols} / #{$i}) * 1%) - (#{$grid__gutter} * 2px));
      }
    }
  }
}

@each $modifier, $breakpoint in $map-grid-props {
  @if ($modifier == '') {
    $modifier: '-xs';
  }
  @include create-mq($breakpoint - 1, 'max') {
    .hidden#{$modifier}-down {
      display: none !important;
    }
  }
  @include create-mq($breakpoint, 'min') {
    .hidden#{$modifier}-up {
      display: none !important;
    }
  }
}

.container {
  max-width: $grid__bp-lg * 1px;
  margin: 0 auto;

  &--fluid {
    max-width: 80%;
    margin: 0 auto;
  }

  &--top-spacing {
    margin-top: $grid__gutter * 8px;
  }

  &--top-spacing-small {
    margin-top: $grid__gutter * 2px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  @each $modifier, $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}

.grid {
  @extend .container__row;

  &--gutter {
    margin-left: $grid__gutter *-1px;
    margin-right: $grid__gutter *-1px;
  }

  .grid__item {
    @extend .container__col-sm-12--gutter;
    @extend .container__col-md-6--gutter;
    @extend .container__col-lg-3--gutter;

    &--gutter {
      margin: 0 $grid__gutter *1px;
    }
  }
}
