<div [formGroup]="itemForm" class="ingredient-form">
    <mat-form-field class="amount">
        <mat-label>Hoeveelheid</mat-label>
        <input (change)="updateItem($event)" formControlName="amount" id="amount" matInput placeholder="Hoeveelheid">
    </mat-form-field>
    <mat-form-field class="unit">
        <input [matAutocomplete]="unitsAutoComplete" formControlName="unit" matInput placeholder="Eenheid"
               type="text">
        <mat-autocomplete #unitsAutoComplete="matAutocomplete" [displayWith]="displayUnit()">
            <mat-option (onSelectionChange)="updateUnit(unit)" *ngFor="let unit of filteredUnits | async"
                        [value]="unit">
                {{unit.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="name">
        <input [matAutocomplete]="ingredientsAutoComplete" formControlName="ingredient" matInput placeholder="Naam"
               type="text">
        <mat-autocomplete #ingredientsAutoComplete="matAutocomplete" [displayWith]="displayIngredient()">
            <mat-option (onSelectionChange)="updateIngredient(ingredient)" *ngFor="let ingredient of filteredIngredients | async"
                        [value]="ingredient">
                {{ingredient.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
