<div class="container">
    <div class="flex-row">
        <div class="columns-2">

        </div>
    </div>
</div>

<eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger>
        <button color="primary" mat-fab>
            <mat-icon>menu</mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
        <button (click)="createUnit()" color="primary" mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
