<form (ngSubmit)="submitForm()" *ngIf="recipe" [formGroup]="form">
    <div class="recipe-detail">
        <div class="header-image">
            <img (click)="fileInput.click()" alt="header" src="{{ preview | asset}}">
            <input #fileInput (change)="uploadFile($event)" class="hidden" type="file">
        </div>
        <mat-divider></mat-divider>
        <div class="head">
            <div class="name">
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Naam">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="nameAddition" matInput placeholder="Subtitel">
                </mat-form-field>
            </div>
            <div class="description">
                <mat-form-field>
                    <textarea formControlName="description" matInput placeholder="Description"></textarea>
                </mat-form-field>
                <app-recipe-category-picker [currentCategories]="recipe.categories"
                                            (selectionChanges)="setCategories($event)"></app-recipe-category-picker>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="details container">
            <div class="info">
                <div class="info-block">
                    <mat-form-field>
                        <mat-label>Serves</mat-label>
                        <mat-select formControlName="serves">
                            <mat-option *ngFor="let serveOption of serveOptions"
                                        [value]="serveOption">{{ serveOption }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="info-block">
                    <div>
                        <h3>
                            Ingredienten
                        </h3>
                        <div [formGroup]="itemFormGroup" formArrayName="items">
                            <div *ngFor="let item of itemFormGroup.controls; let i = index;">
                                <app-edit-item
                                        (addItem)="addItem()"
                                        [item]="item.value"
                                        formControlName="{{ i }}">
                                </app-edit-item>
                            </div>
                        </div>
                        <a (click)="addItem()" color="primary" mat-raised-button>Voeg ingredient toe</a>
                    </div>
                </div>
            </div>

            <div class="steps list-overview columns-3" formArrayName="steps">
                <div *ngFor="let step of stepFormGroup.controls; let i = index;" class="list-item">
                    <app-edit-step
                            [step]="step.value"
                            formControlName="{{ i }}">
                    </app-edit-step>
                </div>
                <div class="list-item">
                    <div>
                        <a (click)="addStep()" class="add-step" color="primary" mat-raised-button>Voeg stap toe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <eco-fab-speed-dial>
        <eco-fab-speed-dial-trigger>
            <button color="primary" mat-fab>
                <mat-icon>done</mat-icon>
            </button>
        </eco-fab-speed-dial-trigger>
    </eco-fab-speed-dial>
</form>
<div class="container--fluid container--top-spacing--small">
    <div class="container__row">
        <form (ngSubmit)="submitForm()" *ngIf="recipe" [formGroup]="form" class="flex-form">
            <mat-expansion-panel class="form-block" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        General
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container__row has-gutters">
                    <div class="form-block__left">
                        <div class="form-block__image-wrapper"
                             style="background-image: url('https://minimalistbaker.com/wp-content/uploads/2019/09/AMAZING-1-Pot-Black-Bean-Pumpkin-Soup-A-fusion-of-Thai-flavors-and-classic-chili.-BIG-flavor-SO-satisfying-glutenfree-pumpkinsoup-recipe-minimalistbaker-45.jpg')">
                        </div>
                    </div>
                    <div class="form-block__right form-block--form-container">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Username</mat-label>
                            <input formControlName="name" matInput placeholder="Naam">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Description</mat-label>
                            <textarea formControlName="description" matInput placeholder="Description"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="form-block form-block--no-padding" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ingredients
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container__row has-gutters">
                    <div class="form-block__left--half">
                        <table mat-table [dataSource]="dataSource">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                  [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)"
                                                  [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef> Amount</th>
                                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="unit">
                                <th mat-header-cell *matHeaderCellDef> Unit</th>
                                <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="ingredient">
                                <th mat-header-cell *matHeaderCellDef> Ingredient</th>
                                <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon>delete</mat-icon>
                                    <mat-icon>edit</mat-icon>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="selection.toggle(row)">
                            </tr>
                        </table>
                    </div>
                    <div class="form-block__right--half form-block--form-container">
                        <div class="container__row has-gutters">
                            <mat-form-field appearance="outline" class="with-gutters">
                                <mat-label>amount</mat-label>
                                <input matInput placeholder="amount">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="with-gutters">
                                <mat-label>unit</mat-label>
                                <input matInput placeholder="unit">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="with-gutters">
                                <mat-label>ingredient</mat-label>
                                <input matInput placeholder="ingredient">
                            </mat-form-field>
                        </div>
                        <button mat-flat-button color="primary" class="push" type="button">Add ingredient</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </form>
    </div>
</div>
