<div class="container">
  <div class="list-overview flex-row top-spacing">
    <app-overview-item
      class="list-item clickable"
      *ngFor="let recipe of recipes" [recipe]="recipe"
      (click)="goToRecipe(recipe)"
    ></app-overview-item>
  </div>
</div>
<eco-fab-speed-dial>
  <eco-fab-speed-dial-trigger>
    <button mat-fab color="primary">
      <mat-icon>menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab color="primary" (click)="createRecipe()">
      <mat-icon>add</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
