<!--<mat-toolbar class="secondary">-->
<!--    <button mat-button>filters</button>-->
<!--    <mat-form-field>-->
<!--        <input matInput placeholder="Zoeken">-->
<!--    </mat-form-field>-->
<!--</mat-toolbar>-->
<div class="container">
    <div class="list-overview flex-row top-spacing">
        <app-overview-item
                (click)="goToRecipe(recipe)"
                *ngFor="let recipe of recipes" [recipe]="recipe"
                class="list-item clickable"
        ></app-overview-item>
    </div>
</div>
<eco-fab-speed-dial>
    <eco-fab-speed-dial-trigger>
        <button color="primary" mat-fab>
            <mat-icon>menu</mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
        <button (click)="createRecipe()" color="primary" mat-mini-fab>
            <mat-icon>add</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
